body {
    background-image: url('https://i.imgur.com/IAhbM3F.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Roboto', sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Asegura que el fondo cubra al menos la altura de la ventana */
}


table {
    width: 70%;
    margin: 0 auto;
    border-collapse: collapse;
    font-size: 0.9em;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    background-color: #fff;
}

table, th, td {
    border: 1px solid #e1e1e1;
    padding: 4px;
    text-align: left;
}

th {
    background-color: #f3740d;
    color: #fff;
    font-weight: bold;
}

td {
    background-color: #f9f9f9;
    padding: 10px;
}

h2 {
    text-align: center;
    color: #420f00;
    font-size: 23px;
    margin-top: 20px;
}

button {
    background-color: #ca2f00;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    padding: 10px;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #a08345;
}

a {
    text-decoration: none;
    color: #af8c4c;
    font-weight: bold;
    margin-top: 20px;
}

a:hover {
    color: #8e7738;
}

h1 {
    text-align: center;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

