body {
    background-image: url('https://i.imgur.com/IAhbM3F.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Roboto', sans-serif;
    color: #2b1d15;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 150vh;
}

.categoria-imagen {
    width: 100px;
    height: 100px;
    margin-right: 10px;
}

.categoria-producto {
    display: flex;
    flex-direction: column; /* Pone la imagen y el texto en vertical */
    align-items: center; /* Centra el contenido */
    margin-bottom: 20px;
}

.categoria-items {
    text-align: center; /* Centra el texto y los inputs debajo de la imagen */
}


label {
    font-size: 20px;
    font-weight: bold;
    color: #423932;
    margin-right: 30px; /* Controla la separación entre el nombre del producto y la cantidad */
    display: inline-block;
    font-family: 'Roboto', sans-serif;
}

#realizarpedido {
    font-size: 30px;
    position: static;
    margin-top: 100px;
    z-index: 0;
}

input[type="text"] {
    background-color: #ffefc2;
    width: 200px; 
    height: 10px; 
    font-size: 16px; 
    padding: 5px; 
    border-radius: 5px; 
    border: 4px solid #e4491a; 
}

input[type="number"] {
    background-color: #ffefc2;
    width: 100px; 
    height: 10px; 
    font-size: 16px; 
    padding: 5px; 
    border-radius: 4px; 
    border: 4px solid #e4491a; 
    margin-top: 5px; /* Añade un pequeño espacio entre la casilla y el input */
    display: inline-block;
}

h3 {
    font-size: 25px;
    position: static;
    z-index: 0;
}
